Makefile
*/Makefile
config.h
config.log
config.status
*/.deps
*/.libs
demo/FTGLDemo
demo/FTGLMFontDemo
demo/c-demo
demo/simple
docs/doxygen.cfg
ftgl.pc
libtool
stamp-h1
*.la
*.lo
*.l
*.o
src/.deps
src/.libs
